Repository openfga/openfga.dev, changes with the owners that .github/CODEOWNERS names for each.
All owners: @openfga/frontend, @openfga/dx, @openfga/docs, @openfga/community, @openfga/product

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
* @openfga/frontend @openfga/dx
docs/ @openfga/docs
blog/ @openfga/docs @openfga/community
src/components/Docs @openfga/frontend @openfga/dx
README.md @openfga/product @openfga/community
docs/content/community.mdx @openfga/product @openfga/community

chore:fix typo in contextual tuples doc (#682)
  docs/content/modeling/token-claims-contextual-tuples.mdx
Owners: @openfga/docs

chore: fixed typo (#681)
  docs/content/modeling/conditions.mdx
Owners: @openfga/docs

fix: show context correctly in list objects viewer
  src/components/Docs/SnippetViewer/ListObjectsRequestViewer.tsx
Owners: @openfga/frontend, @openfga/dx

fix: show context correctly in list objects viewer (#683)
  src/components/Docs/SnippetViewer/ListObjectsRequestViewer.tsx
Owners: @openfga/frontend, @openfga/dx

feat: rebuild Intro Page and create AuthZ concepts one (#679)
  docs/README.md
  docs/content/authorization-and-openfga.mdx
  docs/content/authorization-concepts.mdx
  docs/content/concepts.mdx
  docs/content/intro.mdx
  docs/sidebars.js
  docusaurus.config.js
Owners: @openfga/product, @openfga/community, @openfga/docs, @openfga/frontend, @openfga/dx

chore: fix typo
  docs/content/intro.mdx
Owners: @openfga/docs

chore: fix typo (#684)
  docs/content/intro.mdx
Owners: @openfga/docs

chore: refine the intro page
  docs/content/intro.mdx
Owners: @openfga/docs

chore: rename configuration language to modeling language
  docs/README.md
  docs/content/concepts.mdx
  docs/content/getting-started/immutable-models.mdx
  docs/content/modeling-language.mdx
  docs/content/modeling/advanced/entitlements.mdx
  docs/content/modeling/advanced/gdrive.mdx
  docs/content/modeling/advanced/github.mdx
  docs/content/modeling/advanced/iot.mdx
  docs/content/modeling/advanced/slack.mdx
  docs/content/modeling/blocklists.mdx
  docs/content/modeling/building-blocks/direct-relationships.mdx
  docs/content/modeling/building-blocks/object-to-object-relationships.mdx
  docs/content/modeling/building-blocks/usersets.mdx
  docs/content/modeling/custom-roles.mdx
  docs/content/modeling/direct-access.mdx
  docs/content/modeling/getting-started.mdx
  docs/content/modeling/migrating/migrating-relations.mdx
  docs/content/modeling/multiple-restrictions.mdx
  docs/content/modeling/organization-context-authorization.mdx
  docs/content/modeling/parent-child.mdx
  docs/content/modeling/public-access.mdx
  docs/content/modeling/roles-and-permissions.mdx
  docs/sidebars.js
  docusaurus.config.js
Owners: @openfga/product, @openfga/community, @openfga/docs, @openfga/frontend, @openfga/dx

DO NOT MERGE: testing on preview workflow
  docs/content/modeling/testing-models.mdx
Owners: @openfga/docs

fix version of github action
  docs/content/modeling/testing-models.mdx
Owners: @openfga/docs

add actions/checkout
  docs/content/modeling/testing-models.mdx
Owners: @openfga/docs

fix: `openfga-model-testing-action` example in docs (#687)
  docs/content/modeling/testing-models.mdx
Owners: @openfga/docs

chore: add time to community meeting
  docs/content/community.mdx
Owners: @openfga/product, @openfga/community

Update docs/content/configuration-language.mdx
  docs/content/configuration-language.mdx
Owners: @openfga/docs

Update docs/content/configuration-language.mdx
  docs/content/configuration-language.mdx
Owners: @openfga/docs

Update docs/content/configuration-language.mdx
  docs/content/configuration-language.mdx
Owners: @openfga/docs

Update docs/content/configuration-language.mdx
  docs/content/configuration-language.mdx
Owners: @openfga/docs

Update docs/content/modeling/getting-started.mdx
  docs/content/modeling/getting-started.mdx
Owners: @openfga/docs

Update docs/content/modeling/getting-started.mdx
  docs/content/modeling/getting-started.mdx
Owners: @openfga/docs

Update docs/content/modeling/getting-started.mdx
  docs/content/modeling/getting-started.mdx
Owners: @openfga/docs

Update docs/content/modeling/getting-started.mdx
  docs/content/modeling/getting-started.mdx
Owners: @openfga/docs

Update docs/content/modeling/getting-started.mdx
  docs/content/modeling/getting-started.mdx
Owners: @openfga/docs

Update docs/content/modeling/direct-access.mdx
  docs/content/modeling/direct-access.mdx
Owners: @openfga/docs

Update docs/content/modeling/user-groups.mdx
  docs/content/modeling/user-groups.mdx
Owners: @openfga/docs

Update docs/content/modeling/user-groups.mdx
  docs/content/modeling/user-groups.mdx
Owners: @openfga/docs

Update docs/content/modeling/user-groups.mdx
  docs/content/modeling/user-groups.mdx
Owners: @openfga/docs

Update docs/content/modeling/user-groups.mdx
  docs/content/modeling/user-groups.mdx
Owners: @openfga/docs

Update docs/content/modeling/user-groups.mdx
  docs/content/modeling/user-groups.mdx
Owners: @openfga/docs

Update docs/content/modeling/user-groups.mdx
  docs/content/modeling/user-groups.mdx
Owners: @openfga/docs

Update docs/content/modeling/user-groups.mdx
  docs/content/modeling/user-groups.mdx
Owners: @openfga/docs

Update docs/content/modeling/user-groups.mdx
  docs/content/modeling/user-groups.mdx
Owners: @openfga/docs

Update docs/content/modeling/user-groups.mdx
  docs/content/modeling/user-groups.mdx
Owners: @openfga/docs

Update docs/content/modeling/roles-and-permissions.mdx
  docs/content/modeling/roles-and-permissions.mdx
Owners: @openfga/docs

Update docs/content/modeling/roles-and-permissions.mdx
  docs/content/modeling/roles-and-permissions.mdx
Owners: @openfga/docs

Update docs/content/modeling/roles-and-permissions.mdx
  docs/content/modeling/roles-and-permissions.mdx
Owners: @openfga/docs

Update docs/content/modeling/roles-and-permissions.mdx
  docs/content/modeling/roles-and-permissions.mdx
Owners: @openfga/docs

Update docs/content/modeling/roles-and-permissions.mdx
  docs/content/modeling/roles-and-permissions.mdx
Owners: @openfga/docs

Update docs/content/modeling/roles-and-permissions.mdx
  docs/content/modeling/roles-and-permissions.mdx
Owners: @openfga/docs

Update docs/content/modeling/roles-and-permissions.mdx
  docs/content/modeling/roles-and-permissions.mdx
Owners: @openfga/docs
